*.log
*.bak
tmp/
webpage/*-index.html
*workspace*

scripts/redeploy-sonarqube-batch.sh
scripts/redeploy-sonarqube.sh
scripts/provision-batch-setup-me.sh
scripts/provision-batch-delete-me.sh
scripts/provision-batch-setup-me-sonarqube.sh
scripts/quay/provision-quay-me.sh
scripts/quay/provision-quay-batch-me.sh
scripts/quay/delete-quay-me.sh
.gitignore

vars/*
!vars/aws.example.yml
!vars/aws.example.env
